<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test  name="Test">
	<groups>
		<run>
			<include name="smoke"/>
			<exclude name="regression"/>
		</run>
	</groups>
    <classes>
      <class name="TestNGGroup.TestngGroup1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
